<div class="mapa">
    <div class=" row">
        <div class="col md-col-8">
            <div class="card margen fondo-cont" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> <span class="badge badge-mapa"> <i class="fas fa-map-marker-alt"></i>
                        </span>Coronav</h5>
                    <p class="card-text">Direccion enrique segoviano </p>
                    <button type="button" class="btn btn-light btn-sm btn-block">Ver Mapa <span
                            class="badge badge-mapa-btn"> <i class="fas fa-arrow-right"></i> </span> </button>
                </div>
            </div>
        </div>
        <div class="col md-col-4">

        </div>

    </div>

</div>