<div class="container">
    <div class="row">

        <div class="col-lg-8 col-md-4 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-3">

                    <img class="producto" src="../../../assets/img/navidad.jpeg">


                    <img class="producto" src="../../../assets/img/navidad.jpeg">


                    <img class="producto" src="../../../assets/img/navidad.jpeg">


                    <img class="producto" src="../../../assets/img/navidad.jpeg">



                </div>

                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="contenedor-imagen">

                        <img class="producto-imgGrande" src="../../../assets/img/navidad.jpeg">

                    </div>
                </div>



            </div>

        </div>
        <div class="Descripcion col-lg-4 ">

            <h3 id="nombre del producto"> Esferas navideñas </h3>
            <h1 id="precio del producto"> $75 </h1>
            <p id="descuento"> 10% descuento </p>
            <p id="medioDepago "> Mastercad | Paypal</p>
            <p id="paqueterias"> Envios por DHL </p>
            <p id="stock"> 20 piezas en stock </p>

            <button type="submit" class="btn btn-danger"> comprar ahora </button>
            <button type="submit" class="btn btn-outline-dark ml-2"> agregar al carrito </button>

        </div>



    </div>

</div>