body {
    min-height: 100vh;
    background-image: url("../../../assets/img/navidad.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.imagen-fondo-emergente {
    background-image: url("../../../assets/img/pantallas-emergentes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenedor {
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 10px 10px 10px 10px black;
    padding: 20px;
    text-align: center;
}

.entrada {
    width: 100%;
}

.texto {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

.clase-modal-registro {
    border-radius: 20px;
}