<div class="row">
    <div class="col-6">
        <div class="row  align-items-center vh-100">
            <h1 class="container text-center">Inicia sesión para adquirir productor</h1>
        </div>

    </div> 
    <div class="col-6">
        <div class="row justify-content-center align-items-center vh-100 ">
            <div class="col-sm-8 ">
                <form class="container bg-mid-gray contenedor mt-5 pt-5 mr-5">
                    <div class="form-group mx-sm-6">
                        <h1 style="text-size: 30px; color: rgb(170, 11, 10);">Iniciar sesión</h1><br>
                        <label class="texto" for="exampleInputEmail1">Correo Electronico</label>
                        <input type="email" class="form-control entrada" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label class="texto" for="exampleInputPassword1">Contraseña</label>

                        <input type="password" class="form-control entrada">
                        <a href="#" class="text-dark">Olvide mi contraseña</a>
                    </div>

                    <button type="submit" class="btn btn-danger">Iniciar sesión</button>
                    <p class="text-dark">¿No tienes cuenta? <a class="text-danger">Registrate</a></p>
                </form>
            </div>
        </div>

    </div>
</div>