<body>
    <div class="row">

        <div class="col-6">
            <div class="row  align-items-center vh-100">
                <h1 class="container text-center text-light">No te pierdas de nuestras grandes ofertas para tus fiestas navideñas.</h1>
            </div>

        </div>
        <div class="col-6">
            <div class="row justify-content-center align-items-center vh-100 ">
                <div class="col-sm-8 ">
                    <form class="container bg-white contenedor mt-5 pt-5 mr-5">
                        <div class="container">
                            <div class="form-group mx-sm-4">
                                <h1>Registrate</h1>
                                <p>Es muy fácil y rápido</p>
                                <hr>
                            </div>
                            <div class="form-group mx-sm-4">
                                <p>
                                    <input type="text" class="form-control" placeholder="Nombre" [value]="users.nombre">
                                </p>
                            </div>
                            <div class="form-group mx-sm-4">
                                <p>
                                    <input type="text" class="form-control" placeholder="Apellido" [value]="users.apellido">
                                </p>
                            </div>
                            <div class="form-group mx-sm-4">
                                <p>
                                    <input type="text" class="form-control" placeholder="Usuario" [value]="users.usuario">
                                </p>
                            </div>
                            <div class="form-group mx-sm-4">
                                <p>
                                    <input type="text" class="form-control" placeholder="Correo" [value]="users.correo">
                                </p>
                            </div>
                            <div class="form-group mx-sm-4">
                                <p>
                                    <input type="password" class="form-control" placeholder="Contraseña" [value]="users.contrasenia">
                                </p>
                            </div>
                            <div class="form-group mx-sm-4">
                                <button type="button" class="btn btn-success" (click)="agregarUsuario()" [routerLink]="['login']">Registrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>