<footer class="page-footer fondo-footer">


    <div class="row text-white">
        <div class="col-md-3 mx-auto mb-1 fuente">
            <p class="text-center text-md-center mt-4">2020 Coronav Todos Los Derechos Reservados</p>
            <p class="text-center text-md-center">Terminos y Condiciones</p>
            <p class="text-center text-md-center">Aviso y Privacidad</p>
        </div>
        <div class="col-md-3 mx-auto mb-1 fuente">
            <p class="mt-4 text-md-center">Direccion</p>
            <p class="text-md-center">km. 67 Quintero Tamps.</p>
            <div class="py-4 d-flex text-center text-white mr-4">
                <a href="#" class="fab fa-facebook-f text-white mr-4"></a>
                <a href="#" class="fab fa-instagram text-white mr-4"></a>
                <a href="#" class="fab fa-twitter-square text-white mr-4"></a>
                <a href="#" class="fas fa-map-marker-alt text-white mr-4"></a>
            </div>

        </div>
        <div class="col-md-3 mx-auto mb-1 fuente">
            <p class="mt-4 text-md-center">Acerca de</p>
            <p class="text-md-center">Que somos?</p>
            <p class="text-md-center">Objetivos</p>
        </div>
        <div class="col-md-3 mx-auto mb-1 fuente">
            <p class="mt-4 text-md-center">Metodos de pago</p>

        </div>
    </div>


</footer>